@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,700;1,800&family=Pacifico&display=swap");

$dark-background: #131516;
$background-color: rgb(0 0 0 / 0.5);
$header-background-color: rgb(0 0 0 / 0.5);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}
.app {
  width: 100%;
}

header {
  color: white;
  display: flex;
  width: 100%;
  height: 9vh;
  background-color: $dark-background;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  h1 {
    letter-spacing: 2px;
    padding: 5px;
  }
  #currentDate,
  h1 {
    margin-right: 2rem;
    font-size: 1.2rem;
  }
  .temperature {
    color: white;
    background-color: $background-color;
    border: 0.1px solid gray;
    border-radius: 7px;
    padding: 4px 5px;
    margin-right: 0.5rem;
  }
  .temperature:hover {
    transform: scale(1.1);
    background-color: rgba(56, 56, 56, 0.4);
  }
  .header-wrapper {
    margin-left: auto;
    height: 1.8rem;
    margin-right: 2rem;
  }
  .search-bar {
    display: inline-block;
    background-color: #43484b;
    border-radius: 7px;
    max-width: 80%;
    min-width: 40%;
    input {
      color: white;
      background-color: transparent !important;
      border: none;
      padding: 4px;
      max-width: 85%;
    }
    input:focus,
    input:active {
      border: none;
      outline: none;
    }
    button {
      border: none;
      padding: 3px;
      background: inherit;
      cursor: pointer;
    }
  }
}
.container {
  height: 100%;
  background-color: adjust-hue($color: #000000, $degrees: 355);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .weather-forecast {
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      .conditionIcon {
        width: 64px;
        height: 64px;
      }
    }
    .weather-forecast > div:hover {
      transform: scale(1.05);
      user-select: none;
    }
    .weather-forecast > div {
      width: 112px;
      height: 344px;
      background-color: $background-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 12px;
      backdrop-filter: blur(2px);
      border: 0.5px solid black;
      .weatherData {
        width: 100%;
        height: 40%;
        margin-bottom: 20px;
      }
      .warm {
        color: #ffe47a !important;
      }
      .cool {
        color: #3d7eaa;
      }
      .gradientHolder {
        width: 15px;
        height: 130px;

        .custom-gradient {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(253, 32, 29, 0.8015581232492998) 2%,
            rgba(252, 188, 69, 1) 4%,
            rgba(33, 93, 105, 1) 61%,
            rgba(9, 9, 121, 1) 99%
          );
          border-radius: 15px;
        }
      }
    }
  }
  main {
    background-color: $background-color;
    margin-left: 5rem;
    font-size: 1.4rem;
    backdrop-filter: blur(2px);

    .headerToday {
      display: flex;
      align-items: center;
      text-align: center;
      background-color: $header-background-color;
      .icon-container {
        margin-left: 10px;
      }
      #description {
        font-size: 1rem;
        margin-top: -12px;
      }
      #city-main {
        font-size: 1.5rem;
        color: rgb(243, 243, 243);
        margin: 0 30px 0 10px;
        font-size: 3rem;
        white-space: nowrap;
      }
    }

    .side {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr;
      border: 1px solid black;

      .weather-info span {
        font-size: 13px;
        font-weight: lighter;
        white-space: nowrap;
      }
      .weather-info p {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 0 7px 0;
      }
    }
    .side > * {
      width: 100%;
      font-size: 20px;
      padding: 5px;
      border: 0.2px solid black;
      text-align: center;
    }
  }
  main:hover {
    transform: scale(1.05);
  }
}
img:hover {
  transform: rotate(360deg);
  transition: transform 1s ease;
}
