$dark-background: #131516;
$background-color: rgb(0 0 0 / 0.5);
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  color: white;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.app {
  width: 100%;
}
header {
  color: white;
  display: flex;
  width: 100%;
  height: 9vh;
  background-color: $dark-background;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  #currentDate {
    margin-right: 2rem;
  }
  .temperature {
    padding: 4px 5px;
    border-radius: 6px;
    text-align: center;
    background-color: #8c969c;
  }
  .header-wrapper {
    margin-left: auto;
    height: 1.8rem;
    margin-right: 2rem;
  }
  .search-bar {
    display: inline-block;
    background-color: #43484b;
    border-radius: 7px;
    max-width: 80%;
    min-width: 40%;
    input {
      background-color: transparent !important;
      border: none;
      padding: 4px;
      max-width: 85%;
    }
    input:focus,
    input:active {
      border: none;
      outline: none;
    }
    button {
      border: none;
      padding: 3px;
      background: inherit;
      cursor: pointer;
    }
  }
}
.container {
  height: 100%;
  background-color: adjust-hue($color: #000000, $degrees: 355);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .weather-forecast {
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      .conditionIcon {
        width: 64px;
        height: 64px;
      }
    }
    .weather-forecast > div {
      width: 112px;
      height: 344px;
      background-color: $background-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 12px;
      backdrop-filter: blur(2px);
      .weatherData {
        width: 100%;
        height: 40%;
        margin-bottom: 20px;
      }
      .warm {
        color: #ffe47a !important;
      }
      .cool {
        color: #3d7eaa;
      }
      .gradientHolder {
        width: 15px;
        height: 130px;

        .custom-gradient {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(253, 32, 29, 0.8015581232492998) 2%,
            rgba(252, 188, 69, 1) 4%,
            rgba(33, 93, 105, 1) 61%,
            rgba(9, 9, 121, 1) 99%
          );
          border-radius: 15px;
        }
      }
    }
  }
  main {
    background-color: $background-color;
    color: white;
    width: 350px;
    height: 250px;
    margin-left: 50px;
    font-size: 1.4rem;
    backdrop-filter: blur(2px);
    .headerToday {
      display: inline-block;
      width: 100%;
      #city-main {
        text-align: center;
        font-size: 1rem;
        height: 70px;
        color: rgb(243, 243, 243);
      }
    }

    .side {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-wrap: wrap;
      .weather-icon {
        display: inline-block;
        // height: 100%;
        // width: 70px;
      }
      .img-container {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }
    }
  }
}
